---
import { requirePageByRoute } from "@/lib/content";
import { siteData } from "@/lib/site-data";
import SiteLayout from "@/layouts/SiteLayout.astro";
import { render } from "astro:content";

const page = await requirePageByRoute("/");
const { Content } = await render(page);
---

<SiteLayout title={page.data.title} description={page.data.description}>
  <article class="content page-narrow home-page">
    <h1>{page.data.title}</h1>
    <Content />
  </article>

  <img
    class="home-portrait"
    src={siteData.homeHero.image}
    alt={siteData.homeHero.imageAlt}
    width="220"
    height="302"
    loading="eager"
  />
</SiteLayout>
